{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
{#            <div class="avatar avatar-xl position-relative">#}
{#              <img src="{% static 'img/bruce-mars.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">#}
{#            </div>#}
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ newspaper.title }}
              </h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                <li class="nav-item mr-auto ">
                  <form method="post" action="{% url 'agency:toggle-newspaper-assign' newspaper.pk %}">
                    {% csrf_token %}
                    {% if newspaper in user.redactors.all %}
                      <button type="submit" class="btn btn-light link-to-page">
                        Unassign
                      </button>
                    {% else %}
                      <button type="submit" class="btn btn-primary link-to-page">
                        Assign
                      </button>
                    {% endif %}
                  </form>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary link-to-page" href="{% url 'agency:newspaper-update' newspaper.pk %}">
                   Edit
                  </a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary link-to-page" href="{% url 'agency:newspaper-delete' newspaper.pk %}">
                   Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Data</h6>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <p class="text-sm">
                {{ newspaper.content }}
              </p>
              <hr class="horizontal gray-light my-4">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Published Date:</strong> &nbsp; {{ newspaper.published_date }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Related Redactors</h6>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                {% for redactor in newspaper.publishers.all %}
                  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                    <a href="{% url 'agency:redactor-detail' redactor.pk %}">
                      {{ redactor }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Related Topics</h6>
                </div>
              </div>
            </div>
            <div class="card-body p-3">

              <ul class="list-group">
                {% for topic in newspaper.topic.all %}
                  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                    <a href="{% url 'agency:topic-detail' topic.pk %}">{{ topic }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


      {% include "includes/footer.html" %}

{% endblock content %}
